* {box-sizing:border-box;}
html, body, div, h1, h2, p, form, fieldset,legend, ul, li, input, button, a, img, select, option, footer {
margin:0; padding:0;
font-size:1.0rem; font-weight:normal; font-style:normal;/*기울기 들어가면 안되니까 font-style:normal*/
line-height:1.0;
}
fieldset {border:0;}
legend {display:none;} /*legend는 의미적으로만 보인다*/
a {color:#000; text-decoration:none;}
button {border:0; background-color:none; cursor:pointer;} /*cursor: 버튼은 커서를 올려도 손가락이 안나오기 때문에*/
input {border:0;}
select {border:0;}
ul, li {list-style:none;}/*ul, li 반드시 초기화!*/